# إعدادات API
API_ID=22439859
API_HASH=312858aa733a7bfacf54eede0c275db4
BOT_TOKEN=8307560710:AAFNRpzh141cq7rKt_OmPR0A823dxEaOZVU

# إعدادات السورس
SESSION_NAME=Mnager_V8_Final
REQUIRED_CHANNEL=iomk3
SUPPORT_USER=iomk0

# إعدادات الذكاء الاصطناعي
GEMINI_API_KEY=AIzaSyD6QwvrvnjU7j-R6fkOghfIVKwtvc7SmLk

# إعدادات قاعدة البيانات
DATABASE_URL=sqlite:///data/databases/referrals.db

# إعدادات الإدارة
ADMIN_IDS=7259620384

# إعدادات الخادم
HOST=0.0.0.0
PORT=8080
DEBUG=false